@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Teko:wght@300;400&family=ZCOOL+QingKe+HuangYou&display=swap');
body {
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Balsamiq Sans', cursive;

}
