
      <div class="col-md-10 address-form ">
          <form class="form-group mt-3">
            <h1>Address Details</h1>
            <hr />
            <input
              type="text"
              class="form-control"
              placeholder="name"
              required
              value="name"
              id="inputdefault" 
              name="name"
              [(ngModel)]="name"
            />
            <textarea
              class="form-control"
              rows={3}
              name="address"
              placeholder="address"
              type="text"
              id="inputdefault" 
              required
              [(ngModel)]="address"
              value="address" ></textarea>
            <input
              class="form-control"
              name="pincode"
              placeholder="pincode"
              type="number"
              id="inputdefault" 
              required
              [(ngModel)]="pincode"
              value="pincode"
              
            />
  
            <input
              class="form-control"
              placeholder="phonenumber"
              name="phoneNumber"
              type="number"
              required
              id="inputdefault" 
              [(ngModel)]="phoneNumber"
              value="phoneNumber"
              
            />
          </form>
          <button type="button" class="btn btn-primary" routerLink="/success" (click)="placeOrder()" class="btn btn-outline-dark">order</button>
        </div>
     
      

  