<div>

<div class="row">
    <div
      class="col-md-6 offset-md-3
    align-center formdesign">
 <h1 class="text-center">Login-Form</h1>
<form >
<input type="text" class="form-control" id="inputdefault"  placeholder="Enter E-mail" name="email" [(ngModel)]="email"/>

<input type="password" class="form-control" id="inputdefault"  placeholder="Enter Password" name="password" [(ngModel)]="password"/>

<button mat-raised-button color="warn" routerLink="/" (click)="login()">Login</button>
<div class="margin-top20">
    Don't have an account? <a href="/register" class="text-decoration-none">Create One</a>
</div>
</form>
</div>